*{
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.parent{
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
}
.card{
  height: 270px;
  width: 230px;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .center{
  margin-bottom: 75px;
}
.card img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.card .top button{
  border: none;
  font-size: 13px;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dadada ;
  padding-top: 10px ;
}
.bottom button{
  padding: 5px 10px ;
  color: white;
  background-color: rgb(25, 25, 25);
  border: none;
  border-radius: 5px;
}
.bottom p{
 font-size: 13px;
 opacity: 0.8;
}

.center h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: rgb(110, 113, 113);
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4{
  font-size: 12px;
  font-weight: 500;
  background-color: #d8d8d8;
  border-radius: 3px;
  color: #000;
  font-weight: 500;
  padding: 3px 6px;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}